params {
    threads = 2
    msa_view_start = 80
    msa_view_end = 160
    title = ""
    subtitle = ""
    email = ""
    mailfrom = "noreply-staging@clowm.bi.denbi.de"
}

manifest {
    name = 'megatree'
    author = 'Michael Beckstette'
    homePage = 'https://github.com/mbeckste/megatree'
    description = 'MegaTree is a workflow that creates a Mutiple Sequence Aligment (MSA) of amino sequences using Clustal Omega, computes an evolutionary tree with IQ-TREE 2 and finally visualizes the tree and MSA using R/ggtree. It is primarily intended for educational purposes for workflow developers.'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04.6'
    version = '1.10.0'
    defaultBranch = 'main'
    license = 'Apache-2.0'
}
