manifest {
    name = 'test-entry'
    author = 'Xaver Stiensmeier'
    homePage = 'https://github.com/XaverStiensmeier/test-workflow-entry'
    description = 'Just a test to see if entry works'
    mainScript = 'main.nf'
    nextflowVersion = '<24.10.0'
    version = '1.0.0'
    defaultBranch = 'main'
}
